
<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-md navbar-light py-3">
    <div class="container">  
    <a class="navbar-brand" href="#index.html">
        <img src="{{ base_path ~ directory }}/assets/images/award.png" alt="Your logo" title="Your logo" />
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {{ page.main_nav }}
          {{ page.secondary_nav }}
        </ul>
      </div>
      <a href="#domain" class="domain ml-3" data-toggle="modal" data-target="#DomainModal">
        <div class="hamburger1">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </a>
    </div>
  </nav>
</section>
<div class="modal right fade" id="DomainModal" tabindex="-1" role="dialog" aria-labelledby="DomainModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>

      <div class="modal-body">
        <div class="modal__content">
          <h2 class="logo"><img src="/themes/custom/nuevo/assets/images/award.png" class="img-fluid"></h2>
          <!-- if logo is image enable this   
          <h2 class="logo">
            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
          </h2> -->
          <p class="mt-md-3 mt-2">Centro de Neurocirugía Cusco</p>
          <div class="widget-menu-items mt-sm-5 mt-4">
            <h5 class="widget-title">Menu Items</h5>
            <nav class="navbar p-0">
              <ul class="navbar-nav">
                {{ page.main_nav }}
              </ul>
            </nav>
          </div>
          <div class="widget-social-icons mt-sm-5 mt-4">
            <h5 class="widget-title">Contactanos</h5>
            <ul class="icon-rounded address">
              <li>
                <p> Av. De La Cultura 1320 Edificio Regional  <br>3er piso</p>
              </li>
              <li class="top_li1 mt-2">
                <p><span class="fa fa-clock-o"></span> <a href="#">Lun - Vie 08:00 - 12:00 / 15:00 - 19:00
                  </a></p>
              </li>
              <li class="mt-3">
                <p><span class="fa fa-whatsapp"></span> <a href="https://api.whatsapp.com/send?phone=51972393882">+51 972 393 882</a></p>
              </li>
              <li class="mt-2">
                <p><span class="fa fa-whatsapp"></span> <a
                    href="https://api.whatsapp.com/send?phone=51958335759">+51 958 335 759</a></p>
              </li>
            </ul>
          </div>
          <div class="widget-social-icons mt-sm-5 mt-4">
            <h5 class="widget-title">Follow Us</h5>
            <ul class="icon-rounded">
              <li><a class="social-link twitter" href="#url" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a class="social-link linkedin" href="#url" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="social-link tumblr" href="#url" target="_blank"><i class="fa fa-tumblr"></i></a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>
    <!-- //modal-content -->
  </div>
  <!-- //modal-dialog -->
</div>
{% block previous %}{% endblock %}
{% block main %}{% endblock %}
  <section class="w3l-medpill-footer ">
    <footer class="footer-28">
      <div class="footer-bg-layer">
        <div class="container py-lg-3">
          <div class="row footer-top-28">
            <div class="col-lg-4 col-md-6 col-sm-7 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Informacion de Contacto</h6>
              <ul class="address">
                {{ page.footer_1 }}
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Nuestros Servicios</h6>
              <ul>
                {{ page.footer_3 }}
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 footer-list-28 mt-sm-5 mt-4">
              <h6 class="footer-title-28">Horarios</h6>
              <ul class="timing mb-lg-4">
                {{ page.footer_4 }}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="midd-footer-28 align-center py-lg-4 py-3 mt-md-5 mt-3">
        <div class="container">
          <p class="copy-footer-28 text-center"> &copy; 2021 Neura. All Rights Reserved. Design by <a
              href="#">LJBS</a></p>
        </div>
      </div>
      </div>
    </footer>
  </section>
  <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
