{% extends "themes/custom/nuevo/templates/base.html.twig" %}

{% block previous %}
<section class="w3l-main-slider" id="home">
  <!-- main-slider -->
  <div class="companies20-content">
   
    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <li>
          <div class="slider-info banner-view bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>Bienvenido a la familia NEURA  </h5>
                  <p>En NEURA cada paciente es parte de nuestra familia, cada opción de tratamiento que brindamos es pensando en lo mejor para ti y los tuyos.</p>
                  <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html"> Our Services</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info  banner-view banner-top1 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>Recuperamos tu salud </h5>
                  <p>En NEURA tu salud es nuestra prioridad, desde el diagnostico oportuno, resolución quirúrgica y rehabilitación de calidad.</p>
                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html"> Our Services</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top2 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>Altos estándares de calidad</h5>
                  <p>En NEURA nos preocupamos por tener lo último en tecnología, así como un equipo multidisciplinario altamente capacitado específicamente en cerebro y columna, con médicos consultores Nacionales e Internacionales.</p>
                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html"> Our Services</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top3 bg bg2" >
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>Tiempo es cerebro</h5>
                  <p>En NEURA sabemos que la resolución quirúrgica oportuna y rápida de los problemas del cerebro, ofrece un mejor resultado para el paciente y su familia.</p>
                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html"> Our Services</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>
  <!-- /main-slider -->
</section>
{% endblock %}

{% block main %}
<section class="w3l-features-photo-7 py-5">
      <div class="w3l-features-photo-7_sur py-lg-5 py-sm-3">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 w3l-features-photo-7_top-left">
                      {{ page.home_presentacion }}
                      <div class="feat_top">
                          <div class="w3l-features-photo-7-box">
                              <div class="icon">
                                <img src="{{ base_path ~ directory }}/assets/images/heart.png" class="img-fluid"/>
                              </div>
                              <div class="info-feature">
                                  <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Neurotrauma (TEC)</a></h5>
                                  <p>Toda caída y golpe en la cabeza es potencialmente peligroso y debe ser evaluada por un especialista.</p>
                              </div>
                          </div>
                          <div class="w3l-features-photo-7-box">
                            <div class="icon">
                              <img src="{{ base_path ~ directory }}/assets/images/icon1.png" class="img-fluid"/>
                            </div>
                              <div class="info-feature">
                                  <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Tumores Cerebrales</a></h5>
                                  <p>El diagnostico oportuno y tratamiento en manos de un especialista en tumores brinda mejores resultados, minimizando las secuelas neurológicas.</p>
                              </div>
                          </div>
                          <div class="w3l-features-photo-7-box">
                            <div class="icon">
                              <img src="{{ base_path ~ directory }}/assets/images/sthethoscope.png" class="img-fluid"/>
                            </div>
                              <div class="info-feature">
                                  <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Neurocirugía Pediátrica</a></h5>
                                  <p>Las enfermedades en niños representa un mayor reto, por eso contamos con neurocirujanos pediátricos del Hospital de Niño Lima en nuestro equipo.</p>
                              </div>
                          </div>
                          <div class="w3l-features-photo-7-box">
                            <div class="icon">
                              <img src="{{ base_path ~ directory }}/assets/images/ambulance.png" class="img-fluid"/>
                            </div>
                              <div class="info-feature">
                                  <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Cirugía de columna</a></h5>
                                  <p>En manos expertas, los riesgos de la cirugía de columna son mucho menores.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 w3l-features-photo-7_top-right mt-lg-0 mt-4">
                      {{ page.home_presentacionfoto }}
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- //w3l-features-photo-7 -->
<section class="w3l-video-sec">
	<div class="video-inner py-5">
		<div class="overlay1 py-lg-5 py-sm-3">
			<div class="container">
				<div class="video-content">
					<img src="{{ base_path ~ directory }}/assets/images/heart-big.png" class="img-fluid" alt="" />
					{{ page.home_slogan }}>
					<a href="#notify" class="play-button btn"><span class="fa fa-play pl-1" aria-hidden="true">

						</span></a>

					<!-- notify-popup-->
					<div id="notify" class="notify-pop-overlay">
						<div class="notify-popup">
							<h5>Excellent Health Care Systems</h5>
							<iframe src="https://player.vimeo.com/video/180825357" frameborder="0"
								allow="autoplay; fullscreen" allowfullscreen></iframe>
							<a class="close" href="#close">&times;</a>
						</div>
					</div>
					<!-- //notify-popup -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- services page block 1 -->
<section class="w3l-teams-32-main py-5">
	<div class="teams-32 py-lg-5 py-sm-3">
		<div class="container">
            <h3 class="title text-center mb-sm-5 mb-4">Nuestro Staff</h3>
			<div class="row team-row">
				<div class="col-lg-2 col-6 team-main-19">
					<div class="column-19">
						<a href="team-single.html">
              <img class="img-fluid" src="/themes/custom/nuevo/assets/images/team1.jpg" alt=" ">
            </a>
					</div>
					<div class="right-team-9">
						<h6><a href="team-single.html" class="title-team-32">Jhamil Hinojosa</a></h6>
						<p class="sm-text-32">Director</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-6 team-main-19">
					<div class="column-19">
						<a href="http://neuracusco.com/staff"><img class="img-fluid" src="/themes/custom/nuevo/assets/images/team2.jpg" alt=" "></a>
					</div>
					<div class="right-team-9">
						<h6><a href="team-single.html" class="title-team-32">Kely Quirita</a></h6>
						<p class="sm-text-32">Neurointensivismo</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-6 team-main-19 mt-lg-0 mt-4">
					<div class="column-19">
						<a href="team-single.html"><img class="img-fluid" src="/themes/custom/nuevo/assets/images/team3.jpg" alt=" "></a>
					</div>
					<div class="right-team-9">
						<h6><a href="http://neuracusco.com/staff" class="title-team-32">Ronald Sanchez</a></h6>
						<p class="sm-text-32">Neurocirugía</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-6 team-main-19 mt-lg-0 mt-4">
					<div class="column-19">
						<a href="http://neuracusco.com/staff">
              <img class="img-fluid" src="/themes/custom/nuevo/assets/images/team4.jpg" alt=" ">
            </a>
					</div>
					<div class="right-team-9">
						<h6><a href="http://neuracusco.com/staff" class="title-team-32">Yerica Alvarado</a></h6>
						<p class="sm-text-32">Instrumentación Quirúrgica</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
				</div>
        <div class="col-lg-2 col-6 team-main-19 mt-lg-0 mt-4">
					<div class="column-19">
						<a href="http://neuracusco.com/staff">
              <img class="img-fluid" src="/themes/custom/nuevo/assets/images/team5.jpg" alt=" ">
            </a>
					</div>
					<div class="right-team-9">
						<h6><a href="http://neuracusco.com/staff" class="title-team-32">Jorge Obando</a></h6>
						<p class="sm-text-32">Anestesiología</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
				</div>
        <div class="col-lg-2 col-6 team-main-19 mt-lg-0 mt-4">
					<div class="column-19">
						<a href="team-single.html">
              <img class="img-fluid" src="/themes/custom/nuevo/assets/images/team6.jpg" alt=" ">
            </a>
					</div>
					<div class="right-team-9">
						<h6><a href="team-single.html" class="title-team-32">Blanca Muro</a></h6>
						<p class="sm-text-32">Anestesiología</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- services page block 1 -->
<section class="w3l-apply-6" id="appointment">
	<!-- /apply-6-->
	<div class="apply-info py-5">
		<div class="container py-lg-5 py-sm-3">
			<div class="apply-grids-info row">
				<div class="apply-gd-left col-lg-5">
					{{ page.home_cita }}
					<div class="mt-lg-5 mt-4">
						{{ page.home_serviciosv }}
					</div>
				</div>
				<div class="apply-gd-right offset-lg-1 col-lg-6 mt-lg-0 mt-5">
					<div class="apply-form p-sm-5 p-4">
						<h5>Reserva tu cita</h5>
						{{ page.home_citaformulario }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //apply-6-->
{% endblock %}
